@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    cursor: pointer;
  }

  input[type='month']::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    cursor: pointer;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
